<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-content /-->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Mail</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_mail"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Department</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_department"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Business position</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_business_position"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Address</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_address"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Phone</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_phone"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Personal website</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_personal_website"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Academia link</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_academia_link"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Summary</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_re_summary"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Visiting period</h2>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"acf/field","args":{"key":"mrg_visiting_period"}}}}} -->
	<p></p>
	<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
